@{
	ViewData["Title"] = "Home | Biovision Meditech";
}

<div id="default-carousel" class="relative w-full" data-carousel="slide">
	<!-- Carousel wrapper -->
	<div class="relative h-56 overflow-hidden rounded-lg md:h-96" style="height: 65vh">
		<!-- Item 1 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="./images/corousel1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
		</div>
		<!-- Item 2 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="./images/corousel5.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
		</div>
		<!-- Item 3 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="./images/corousel3.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
		</div>
		<!-- Item 4 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="./images/corousel4.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
		</div>
		<!-- Item 5 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="./images/corousel6.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
		</div>
	</div>

	<!-- Slider controls -->
	<button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
		<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
			<svg class="w-4 h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
			</svg>
			<span class="sr-only">Previous</span>
		</span>
	</button>
	<button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
		<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50  group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
			<svg class="w-4 h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
			</svg>
			<span class="sr-only">Next</span>
		</span>
	</button>

	<div class="absolute top-0 start-0 inline-block z-30 mt-8 ml-8">
		<div class="inline-block">
			<p class="animate1 text-white bg-sky-600/75 text-3xl font-semibold w-full whitespace-nowrap overflow-hidden">Welcome to Biovision Meditech</p>
		</div>
		<br />
		<div class="inline-block">
			<p class="animate2 text-white bg-sky-500/75 text-xl font-normal w-full whitespace-nowrap overflow-hidden">We are a leading medical equipment supplier in Gujarat.</p> 
			<p class="animate2 text-white bg-sky-500/75 text-xl font-normal w-full whitespace-nowrap overflow-hidden"> providing high-quality medical equipment and devices to hospitals and healthcare facilities across South Gujarat.</p>
		</div>
	</div>
</div>

<!-- brand partners -->
<div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8">
	<p class="mb-5 text-base font-semibold text-gray-600 sm:text-lg">Our Partners</p>
	<div class="flex items-center justify-center space-x-8">
		<div class="w-80 h-24 flex shadow-lg items-center justify-center p-3">
			<img src="./images/brand1.jpg" class="w-full h-full rounded-lg object-cover" alt="brandlogo">
		</div>
		<div class="w-80 h-24 flex shadow-lg items-center justify-center p-3">
			<img src="./images/brand2.png" class="w-full h-full rounded-lg object-cover" alt="brandlogo">
		</div>
		<div class="w-80 h-24 flex shadow-lg items-center justify-center p-3">
			<img src="./images/brand3.png" class="w-full h-full rounded-lg object-cover" alt="brandlogo">
		</div>
	</div>
</div>

<!-- our products -->
<form asp-controller="Products" asp-action="Index" method="get" class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8">
	<p class="mb-5 text-base font-semibold text-gray-600 sm:text-lg">Our Products</p>

	<div class="flex justify-center space-x-8">
		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
			<a href="#">
				<img class="rounded-t-lg" src="./images/product1.png" alt="Image Unavailable" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Philips ECG Machine</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 ">High-precision ECG machines offering comprehensive cardiac assessments with clear and detailed electrocardiogram readings</p>
				<button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" name="category" value="ECG Machine">
					Know more
					<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
					</svg>
				</button>
			</div>
		</div>


		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow ">
			<a href="#">
				<img class="rounded-t-lg" src="./images/product2.png" alt="Image Unavailable" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Philips Patient Monitors</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 ">Reliable patient monitors providing continuous vital sign monitoring to ensure accurate and timely medical intervention.</p>
				<button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" name="category" value="Patient Monitor">
					Know more
					<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
					</svg>
				</button>
			</div>
		</div>


		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
			<a href="#">
				<img class="rounded-t-lg" src="./images/product3.jpg" alt="Image Unavailable" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Philips Defibrilators</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700">Advanced defibrillators designed for rapid response to cardiac emergencies, ensuring quick and effective lifesaving treatment..</p>
				<button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" name="category" value="Defibrillators">
					Know more
					<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
					</svg>
				</button>
			</div>
		</div>

	</div>
	<br />
	<button type="submit" class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" name="category" value="ECG Machine">View all Products</button>
</form>

<br>
